<section>
  <footer>
    <div class="container-fluid bg-light">
      <div class="container brands">
        <div class="row">
          <div class="brandstext mt-5">
            <!-- column 1 starts -->
            <div class="col-4">
              <div class="row">
                <div class="col-auto">
                  <span class="divider mt-3"></span>
                </div>
                <div class="col-auto ms-0">
                  <span class="text1">Funded And</span><br />
                  <span class="text2">Backed By</span>
                </div>
              </div>
            </div>

            <!-- column 1 ends -->
          </div>
          <!-- brandstext ends -->

          <!-- column 2 starts -->
          <div class="col-8">
            <div class="row brandslogo">
              <div class="col-4">
                <div class="card">
                  <div class="card-body">
                    <img
                      fill
                      ngSrc="assets/img/sponsor_logo3.png"
                      alt="Company Name"
                      class="d-block"
                      priority
                    />
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <div class="card-body">
                    <img
                      fill
                      ngSrc="assets/img/sponsor_logo2.png"
                      alt="Company Name"
                      class="d-block"
                      priority
                    />
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="card">
                  <div class="card-body">
                    <img
                      fill
                      ngSrc="assets/img/sponsor_logo1.png"
                      alt="Company Name"
                      class="d-block"
                      priority
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- column 2 ends -->
        </div>
        <!-- row ends -->

        <!-- link row starts -->
        <div class="quicklinks">
          <div class="row">
            <div class="col-3 linkcolumn1">
              <!-- column 1 starts -->
              <h3>Our Company</h3>
              <ul>
                <li>
                  <a href="#">Our Story</a>
                </li>
                <li>
                  <a href="#">News and Blogs</a>
                </li>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">Customer Support</a>
                </li>
                <li>
                  <a href="#">Contact Us</a>
                </li>
                <li>
                  <a href="#">Website Accessiblity</a>
                </li>
              </ul>
            </div>
            <!-- column 1 ends -->

            <div class="col-3 linkcolumn2">
              <!-- column 2 starts -->
              <h3>Corporate Info</h3>
              <ul>
                <li>
                  <a href="#">Auto Insurance</a>
                </li>
                <li>
                  <a href="#">Home Insurance</a>
                </li>
                <li>
                  <a href="#">Claims</a>
                </li>
                <li>
                  <a href="#">Express Access</a>
                </li>
                <li>
                  <a href="#">Money Back Policy</a>
                </li>
                <li>
                  <a href="#">Life Insurance Companies</a>
                </li>
              </ul>
            </div>
            <!-- column 2 ends -->
            <div class="col-3 linkcolumn3">
              <!-- column 2 starts -->
              <h3>Get In Touch</h3>
              <ul>
                <li>We are here to listen</li>
                <li>
                  <i class="fa-regular fa-building"></i>2390 NW 2nd Ave, Miami
                  FL 33127, USA
                </li>
                <li><i class="fa-solid fa-phone"></i>+1 (305) 677-3952</li>
                <li>
                  <i class="fa-regular fa-clock"></i>9am to 7pm EST <br />Monday
                  to Friday
                </li>
                <li><a href="#">Life Insurance Companies</a></li>
              </ul>
            </div>
            <!-- Column 3 ends -->
            <div class="col-3 linkcolumn4">
              <!-- Column 4 starts -->
              <h3>Newsletter</h3>
              <ul>
                <li style="letter-spacing: -0.5px; word-spacing: -1px">
                  Receive resources & tools that can help you prepare for the
                  future. You can cancel anytime.
                </li>
                <li>
                  <input
                    type="email"
                    class="form-control"
                    id="txtemail"
                    placeholder="Your mail here"
                  />
                </li>
                <li>
                  <button class="btn btn-primary">
                    <i class="fa-solid fa-circle-check"></i>Subscribe now
                  </button>
                </li>
              </ul>
              <!-- column 4 ends -->
            </div>
          </div>
          <!-- link row ends -->
        </div>
      </div>
      <!-- container ends -->
    </div>
    <!-- container-fluid ends -->
  </footer>
</section>
