/* .brands{
  margin-top: 70px;
} */

.divider{
  width: 4px;
  height: 40px;
  background: #003478;
  display: inline-block;
  /* margin-top: 20px; */
}

.brandstext{
  /* margin-top: 20px; */
  margin: 0 0 -50px 0;
  color: #003478;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 20px;
}

.brandstext .col-4{
  width: 230px;
}

.brandstext .text1{
  margin: 40px 0 0 0;
  width: 100%;
  height: fit-content;
}

.brandslogo{
  margin: 0px 140px 0px 250px;
  width: 100%;
  height: fit-content;
  padding: 5px;
}



/* #brandcarousel .carousel-inner{
  width: 100%;
  height: 100%;
}

#brandcarousel .carousel-item{
  height: 100px;
  width: 100px;
} */

.brandslogo .card{
  border-radius: 0px;
  border: none;
  margin: 0px 30px 40px 30px;
  padding: 15px;
}

.brandslogo .card-body img{
  margin-right: 20px;
  padding: 15px;
  height: auto;
  width: auto;
}

.quicklinks ul li a{
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

.quicklinks a:visited{
  color: gray;
}

.quicklinks ul{
  list-style: none;
}

.quicklinks h3{
  color: #003478;
  font-size: 18px;
  font-weight: 800;
  text-transform: uppercase;
  word-spacing: 2px;
  letter-spacing: -1px;
}

.quicklinks ul li {
  line-height: 25px;
}

.linkcolumn3 li{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: grey;
}

.linkcolumn3 li i {
  margin-right: 10px;
}

.linkcolumn4 li{
  line-height: 25px;
}

.linkcolumn4 .btn-primary{
  text-transform: uppercase;
  text-align: center;
  background-color: #003478;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
}

.linkcolumn4 li i {
  margin-right: 10px;
}

.linkcolumn4 li{
  margin-bottom: 20px;
}