<section>
  <footer>
    <div class="container-fluid bg-light">
      <div class="container brands">
        <div class="row">
          <div class="brandstext mt-5">
            <!-- column 1 starts -->
            <div class="col-4">
              <div class="row">
                <div class="col-auto">
                  <span class="divider mt-3"></span>
                </div>
                <div class="col-auto ms-0">
                  <span class="text1">Funded And</span><br />
                  <span class="text2">Backed By</span>
                </div>
              </div>
            </div>

            <!-- column 1 ends -->
          </div>
          <!-- brandstext ends -->

          <!-- column 2 starts -->
          <div class="col-8">
            <div
              id="brandcarousel"
              class="carousel slide"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="row">
                    <div class="col-4">
                      <img
                        fill
                        class="d-block"
                        ngSrc="./assets/img/sponsor_logo1.png"
                        alt="Company name"
                        priority
                      />
                    </div>
                    <div class="col-4">
                      <img
                        fill
                        class="d-block"
                        ngSrc="./assets/img/sponsor_logo2.png"
                        alt="Company name"
                        priority
                      />
                    </div>
                    <div class="col-4">
                      <img
                        fill
                        class="d-block"
                        ngSrc="./assets/img/sponsor_logo3.png"
                        alt="Company name"
                        priority
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- column 2 ends -->
        </div>
        <!-- row ends -->

        <!-- link row starts -->
        <div class="quicklinks">
          <div class="row">
            <div class="col-3 linkcolumn1">
              <!-- column 1 starts -->
              <h3>Our Company</h3>
              <ul>
                <li>
                  <a href="#">Our Story</a>
                </li>
                <li>
                  <a href="#">News and Blogs</a>
                </li>
                <li>
                  <a href="#">Careers</a>
                </li>
                <li>
                  <a href="#">Customer Support</a>
                </li>
                <li>
                  <a href="#">Contact Us</a>
                </li>
                <li>
                  <a href="#">Website Accessiblity</a>
                </li>
              </ul>
            </div>
            <!-- column 1 ends -->
            <div class="col-3"></div>
            <div class="col-3"></div>
            <div class="col-3"></div>
          </div>
          <!-- link row ends -->
        </div>
      </div>
      <!-- container ends -->
    </div>
    <!-- container-fluid ends -->
  </footer>
</section>
