<section>
  <div
    class="container d-flex justify-content-center align-items-center mt-5 p-4"
  >
    <div class="row d-inline-flex">
      <div class="col-5 text-end para1">
        <p class="mb-0 pb-2">Why people</p>
        <p class="mt-0">Love us</p>
      </div>
      <div class="col-2 me-0" style="width: auto">
        <span class="divider"></span>
      </div>
      <div class="col-5">
        <p>
          Instive makes it easy to insure your with home, landlord and strata
          insurance.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- insurance details starts -->
<section>
  <div class="container d-flex justify-content-center">
    <!-- row 1 starts -->
    <div class="row m-3 py-3">
      <!-- column 1 card starts -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 1 card ends -->
      <!-- column 2 card ends -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 2 card ends -->
    </div>
  </div>
</section>
<section>
  <div class="container d-flex justify-content-center">
    <!-- row 1 starts -->
    <div class="row m-3 py-3">
      <!-- column 1 card starts -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 1 card ends -->
      <!-- column 2 card ends -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 2 card ends -->
    </div>
  </div>
</section>
