<section>
  <div
    class="container d-flex justify-content-center align-items-center mt-5 p-4"
  >
    <div class="row d-inline-flex">
      <div class="col-5 text-end para1">
        <p class="mb-0 pb-2">Why people</p>
        <p class="mt-0">Love us</p>
      </div>
      <div class="col-2 me-0" style="width: auto">
        <span class="divider"></span>
      </div>
      <div class="col-5">
        <p>
          Instive makes it easy to insure your with home, landlord and strata
          insurance.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- insurance details starts -->
<section>
  <div class="container-fluid">
    <div class="container">
      <!-- row 1 starts -->
      <div class="row m-3 py-3">
        <!-- column 1 card starts -->
        <div class="col-6">
          <div class="card">
            <div class="card-header">Life Insurance</div>
            <div class="card-body">
              <div class="row d-block d-flex justify-content-center">
                <div
                  class="col-5 ms-1 my-4 mt-4 mb-3 w-auto d-block d-inline-flex justify-content-center"
                >
                  <small>
                    <i
                      class="fa-solid fa-people-roof fa-4x"
                      style="height: 110px; width: 90px"
                    ></i>
                  </small>
                </div>
                <div class="col-7 w-75">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Inventore consectetur et ea voluptatibus, deleniti ratione
                    ullam iste molestiae cum obcaecati illum quaerat minima enim
                    porro maxime! Cumque harum nulla veniam!
                  </p>
                  <a href="#" class="card-link">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- column 1 card ends -->
        <!-- column 2 card starts -->
        <div class="col-6">
          <div class="card">
            <div class="card-header">Life Insurance</div>
            <div class="card-body">
              <div class="row d-block d-flex justify-content-center">
                <div
                  class="col-5 ms-1 my-4 mt-4 mb-3 w-auto d-block d-inline-flex justify-content-center"
                >
                  <small>
                    <i
                      class="fa-solid fa-people-roof fa-4x"
                      style="height: 110px; width: 90px"
                    ></i>
                  </small>
                </div>
                <div class="col-7 w-75">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Inventore consectetur et ea voluptatibus, deleniti ratione
                    ullam iste molestiae cum obcaecati illum quaerat minima enim
                    porro maxime! Cumque harum nulla veniam!
                  </p>
                  <a href="#" class="card-link">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- column 2 card ends -->
      </div>
      <!-- row 1 ends -->

      <div class="row m-3 py-3">
        <!-- column 1 card starts -->
        <div class="col-6">
          <div class="card">
            <div class="card-header">Health Insurance</div>
            <div class="card-body">
              <div class="row d-block d-flex justify-content-center">
                <div
                  class="col-5 ms-1 my-4 mt-4 mb-3 w-auto d-block d-inline-flex justify-content-center"
                >
                  <small>
                    <i
                      class="fa-solid fa-people-roof fa-4x"
                      style="height: 110px; width: 90px"
                    ></i>
                  </small>
                </div>
                <div class="col-7 w-75">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Inventore consectetur et ea voluptatibus, deleniti ratione
                    ullam iste molestiae cum obcaecati illum quaerat minima enim
                    porro maxime! Cumque harum nulla veniam!
                  </p>
                  <a href="#" class="card-link">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- column 1 card ends -->
        <!-- column 2 card starts -->
        <div class="col-6">
          <div class="card">
            <div class="card-header">Home Insurance</div>
            <div class="card-body">
              <div class="row d-block d-flex justify-content-center">
                <div
                  class="col-5 ms-1 my-4 mt-4 mb-3 w-auto d-block d-inline-flex justify-content-center"
                >
                  <small>
                    <i
                      class="fa-solid fa-people-roof fa-4x"
                      style="height: 110px; width: 90px"
                    ></i>
                  </small>
                </div>
                <div class="col-7 w-75">
                  <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Inventore consectetur et ea voluptatibus, deleniti ratione
                    ullam iste molestiae cum obcaecati illum quaerat minima enim
                    porro maxime! Cumque harum nulla veniam!
                  </p>
                  <a href="#" class="card-link">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- column 2 card ends -->
      </div>
      <!-- row 1 ends -->
    </div>
  </div>
</section>
<!-- insurance details ends -->

<!-- Learn More Section starts -->
  <div class="container" id="learn-more">
  <div class="row py-2">
    <div class="col-9 px-5 py-1 my-2">
      <p class="text-end">Not sure what you need? <span>Learn in seconds which types of insurance match your business.</span></p>
    </div>
    <div class="col-3 text-start px-5 py-1 my-1">
      <button class="btn btn-primary py-2 px-3">Learn More</button>
    </div>
  </div>
  </div>


<!-- Learn More Section ends -->

<section id="contactform">
  <div class="container-fluid">
    <div class="container">
      <div class="row gx-0 d-flex justify-content-center">
        <!-- contact details starts -->
        <div class="col-6">
          <div class="zipcode mx-5">
            <!-- Nav tabs starts-->
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  data-bs-toggle="tab"
                  href="#carinsurance"
                  >Car</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#homeinsurance"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#lifeinsurance"
                  >Life</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#healthinsurance"
                  >Health</a
                >
              </li>
            </ul>
            <!-- Nav tabs ends-->
            <!-- Tab panes starts-->
            <div class="tab-content">
              <!-- car insurance details starts -->
              <div class="tab-pane container active" id="carinsurance">
                <p class="form-title">
                  Start with your zip code to compare car insurance
                </p>
                <div class="carform">
                  <form>
                    <div class="mb-3 mt-3">
                      <input
                        type="text"
                        class="form-control"
                        id="txtname"
                        placeholder="Your Name"
                        name="txtname"
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="email"
                        class="form-control"
                        id="txtemail"
                        placeholder="Mail"
                        name="txtemail"
                      />
                    </div>
                    <div class="mb-3">
                      <select class="form-select">
                        <option selected>Select an option</option>
                        <option value="carinsurance">Car Insurance</option>
                        <option value="homeinsurance">Home Insurance</option>
                        <option value="lifeinsurance">Life Insurance</option>
                        <option value="healthinsurance">
                          Health Insurance
                        </option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                      Start Saving today
                    </button>
                  </form>
                  <div class="row ratings">
                    <div class="col-5">
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                    </div>
                    <div class="col-7">
                      <span class="lightext">Already a Member? </span
                      ><a><span class="boldtext">Sign In</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- car insurance details ends -->
              <!-- home insurance details starts -->
              <div class="tab-pane container fade" id="homeinsurance">
                <p class="form-title">
                  Start with your zip code to compare home insurance
                </p>
                <div class="homeform">
                  <form>
                    <div class="mb-3 mt-3">
                      <input
                        type="text"
                        class="form-control"
                        id="txtname"
                        placeholder="Your Name"
                        name="txtname"
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="email"
                        class="form-control"
                        id="txtemail"
                        placeholder="Mail"
                        name="txtemail"
                      />
                    </div>
                    <div class="mb-3">
                      <select class="form-select">
                        <option selected>Select an option</option>
                        <option value="carinsurance">Car Insurance</option>
                        <option value="homeinsurance">Home Insurance</option>
                        <option value="lifeinsurance">Life Insurance</option>
                        <option value="healthinsurance">
                          Health Insurance
                        </option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                      Start Saving today
                    </button>
                  </form>
                  <div class="row ratings">
                    <div class="col-5">
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                    </div>
                    <div class="col-7">
                      <span class="lightext">Already a Member? </span
                      ><a><span class="boldtext">Sign In</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- home insurance details ends -->
              <!-- life insurance details starts-->
              <div class="tab-pane container fade" id="lifeinsurance">
                <p class="form-title">
                  Start with your zip code to compare life insurance
                </p>
                <div class="lifeform">
                  <form>
                    <div class="mb-3 mt-3">
                      <input
                        type="text"
                        class="form-control"
                        id="txtname"
                        placeholder="Your Name"
                        name="txtname"
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="email"
                        class="form-control"
                        id="txtemail"
                        placeholder="Mail"
                        name="txtemail"
                      />
                    </div>
                    <div class="mb-3">
                      <select class="form-select">
                        <option selected>Select an option</option>
                        <option value="carinsurance">Car Insurance</option>
                        <option value="homeinsurance">Home Insurance</option>
                        <option value="lifeinsurance">Life Insurance</option>
                        <option value="healthinsurance">
                          Health Insurance
                        </option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                      Start Saving today
                    </button>
                  </form>
                  <div class="row ratings">
                    <div class="col-5">
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                    </div>
                    <div
                      class="col-7"
                      style="text-align: end; margin-right: 45px"
                    >
                      <p><span class="lightext">Already a Member?</span></p>
                      <a href="#carinsurance" class="boldtext nav-link"
                        >Sign In</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- life insurance ends-->
              <!-- healtth insurance starts-->
              <div class="tab-pane container fade" id="healthinsurance">
                <p class="form-title">
                  Start with your zip code to compare health insurance
                </p>
                <div class="healthform">
                  <form>
                    <div class="mb-3 mt-3">
                      <input
                        type="text"
                        class="form-control"
                        id="txtname"
                        placeholder="Your Name"
                        name="txtname"
                      />
                    </div>
                    <div class="mb-3">
                      <input
                        type="email"
                        class="form-control"
                        id="txtemail"
                        placeholder="Mail"
                        name="txtemail"
                      />
                    </div>
                    <div class="mb-3">
                      <select class="form-select">
                        <option selected>Select an option</option>
                        <option value="carinsurance">Car Insurance</option>
                        <option value="homeinsurance">Home Insurance</option>
                        <option value="lifeinsurance">Life Insurance</option>
                        <option value="healthinsurance">
                          Health Insurance
                        </option>
                      </select>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">
                      Start Saving today
                    </button>
                  </form>
                  <div class="row ratings">
                    <div class="col-5">
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                      <small class="pt-2"
                        ><i class="fa-solid fa-star"></i
                      ></small>
                    </div>
                    <div class="col-7">
                      <span class="lightext">Already a Member? </span
                      ><a><span class="boldtext">Sign In</span></a>
                    </div>
                  </div>
                </div>
              </div>
              <!--health insurance ends-->
            </div>
            <!-- Tab panes ends-->
          </div>
        </div>
        <!-- contact details ends -->
        <!-- carousel starts -->
        <div class="col-6 d-flex justify-content-center">
          <div id="contactcarousel" class="carousel slide ms-auto px-5 py-5">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img
                  fill
                  class="d-block rounded-circle"
                  ngSrc="assets/img/testimonial3.jpg"
                  alt="Carousel Image 3"
                  priority
                />
                <div class="carousel-caption d-none d-md-block">
                  <p>Maria Marlin</p>
                  <p>Retired Govt Official, ON, Canada</p>
                  <p class="mt-5">
                    Very helpful fully explaining the different plans. Cash
                    value is accessed via loans, which accrue interest and
                    reduce cash value our valuable items.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  fill
                  class="d-block rounded-circle"
                  ngSrc="assets/img/testimonial3.jpg"
                  alt="Carousel Image 3"
                  priority
                />
                <div class="carousel-caption d-none d-md-block">
                  <p>Maria Marlin</p>
                  <p>Retired Govt Official, ON, Canada</p>
                  <p>
                    Very helpful fully explaining the different plans. Cash
                    value is accessed via loans, which accrue interest and
                    reduce cash value our valuable items.
                  </p>
                </div>
              </div>
              <div class="carousel-item">
                <img
                  fill
                  class="d-block rounded-circle"
                  ngSrc="assets/img/testimonial3.jpg"
                  alt="Carousel Image 3"
                  priority
                />
                <div class="carousel-caption d-none d-md-block">
                  <p>Maria Marlin</p>
                  <p>Retired Govt Official, ON, Canada</p>
                  <p>
                    Very helpful fully explaining the different plans. Cash
                    value is accessed via loans, which accrue interest and
                    reduce cash value our valuable items.
                  </p>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#contactcarousel"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#contactcarousel"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!-- ccarousel ends -->
      </div>
      <!--row ends-->
    </div>
    <!--container ends-->
  </div>
  <!--container-fluid ends-->
</section>
