<section>
  <div
    class="container d-flex justify-content-center align-items-center mt-5 p-4"
  >
    <div class="row d-inline-flex">
      <div class="col-5 text-end para1">
        <p class="mb-0 pb-2">Why people</p>
        <p class="mt-0">Love us</p>
      </div>
      <div class="col-2 me-0" style="width: auto">
        <span class="divider"></span>
      </div>
      <div class="col-5">
        <p>
          Instive makes it easy to insure your with home, landlord and strata
          insurance.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- insurance details starts -->
<section>
  <div class="container d-flex justify-content-center">
    <!-- row 1 starts -->
    <div class="row m-3 py-3">
      <!-- column 1 card starts -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 1 card ends -->
      <!-- column 2 card ends -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 2 card ends -->
    </div>
  </div>
</section>
<section>
  <div class="container d-flex justify-content-center">
    <!-- row 1 starts -->
    <div class="row m-3 py-3">
      <!-- column 1 card starts -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 1 card ends -->
      <!-- column 2 card ends -->
      <div class="col-6">
        <div class="card my-3 py-3">
          <div class="card-header">Life Insurance</div>
          <div class="card-body">
            <div class="row d-block d-flex justify-content-center">
              <div
                class="col-5 ms-1 my-4 mt-3 mb-3 w-auto d-block d-inline-flex justify-content-center"
              >
                <small>
                  <i
                    class="fa-solid fa-people-roof fa-4x"
                    style="height: 110px; width: 90px"
                  ></i>
                </small>
              </div>
              <div class="col-7 w-75">
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Inventore consectetur et ea voluptatibus, deleniti ratione
                  ullam iste molestiae cum obcaecati illum quaerat minima enim
                  porro maxime! Cumque harum nulla veniam!
                </p>
                <a href="#" class="card-link">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- column 2 card ends -->
    </div>
  </div>
</section>

<!-- Learn More section starts -->
 <section>
  <div class="container d-flex justify-content-center align-items-center my-4">
    <div class="row" id="learn-more">
      <div class="col-9">
        <p>Not sure what you need? <span>Learn in seconds which types of insurance match your business.</span></p>
      </div>
      <div class="col-3">
        <button>Learn More</button>
      </div>
    </div>
  </div>
 </section>
<!-- Learn More section ends -->


<!-- Contact Form -->
<section class="cnt-section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div id="form-details" style="width: 415px; height: 414px">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button
                class="nav-link active"
                id="home-tab"
                data-bs-toggle="tab"
                data-bs-target="#home-tab-pane"
                type="button"
                role="tab"
                aria-controls="home-tab-pane"
                aria-selected="true"
              >
                Car
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="profile-tab"
                data-bs-toggle="tab"
                data-bs-target="#profile-tab-pane"
                type="button"
                role="tab"
                aria-controls="profile-tab-pane"
                aria-selected="false"
              >
                Home
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="contact-tab"
                data-bs-toggle="tab"
                data-bs-target="#contact-tab-pane"
                type="button"
                role="tab"
                aria-controls="contact-tab-pane"
                aria-selected="false"
              >
                Life
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button
                class="nav-link"
                id="disabled-tab"
                data-bs-toggle="tab"
                data-bs-target="#disabled-tab-pane"
                type="button"
                role="tab"
                aria-controls="disabled-tab-pane"
                aria-selected="false"
              >
                Health
              </button>
            </li>
          </ul>
          <!-- Tab Content for Car Starts -->
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home-tab-pane"
              role="tabpanel"
              aria-labelledby="home-tab"
              tabindex="0"
            >
              <p>Start with your zip code to compare car insurance</p>
              <div class="div-contact-form">
                <form id="contact-form">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="cnt-name"
                      aria-describedby="name"
                      placeholder="YOUR NAME"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="cnt-email"
                      aria-describedby="email"
                      placeholder="EMAIL"
                    />
                  </div>
                  <div>
                    <select class="form-select" aria-label="Type Of Insurance">
                      <option selected>PROPERTY TYPE</option>
                      <option value="1">HOME PROPERTY</option>
                      <option value="2">HEALTH INSURANCE</option>
                      <option value="3">CAR INSURANCE</option>
                      <option value="4">LIFE INSURANCE</option>
                      <option value="5">HOME INSURANCE</option>
                    </select>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary w-100">
                      Start Saving Today
                    </button>
                  </div>
                </form>
                <div class="row">
                  <div class="col-6 my-4">
                    <small class="ratings">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </small>
                    <p class="mt-sm-1">1000+ Reviews</p>
                  </div>
                  <div class="col-6 my-4">
                    <p>
                      Already member?
                      <span><a style="text-decoration: none">SIGN IN</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Tab Content for Car ends -->
           <!-- Tab Contenr for Home starts -->
            <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home-tab-pane"
              role="tabpanel"
              aria-labelledby="home-tab"
              tabindex="0"
            >
              <p>Start with your zip code to compare home insurance</p>
              <div class="div-contact-form">
                <form id="contact-form">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="cnt-name"
                      aria-describedby="name"
                      placeholder="YOUR NAME"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="cnt-email"
                      aria-describedby="email"
                      placeholder="EMAIL"
                    />
                  </div>
                  <div>
                    <select class="form-select" aria-label="Type Of Insurance">
                      <option selected>PROPERTY TYPE</option>
                      <option value="1">HOME PROPERTY</option>
                      <option value="2">HEALTH INSURANCE</option>
                      <option value="3">CAR INSURANCE</option>
                      <option value="4">LIFE INSURANCE</option>
                      <option value="5">HOME INSURANCE</option>
                    </select>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary w-100">
                      Start Saving Today
                    </button>
                  </div>
                </form>
                <div class="row">
                  <div class="col-6 my-4">
                    <small class="ratings">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </small>
                    <p class="mt-sm-1">1000+ Reviews</p>
                  </div>
                  <div class="col-6 my-4">
                    <p>
                      Already member?
                      <span><a style="text-decoration: none">SIGN IN</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
           <!-- Tab Content for Home ends -->
            <!-- Tab Content for Life starts -->
             <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home-tab-pane"
              role="tabpanel"
              aria-labelledby="home-tab"
              tabindex="0"
            >
              <p>Start with your zip code to compare life insurance</p>
              <div class="div-contact-form">
                <form id="contact-form">
                  <div class="mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="cnt-name"
                      aria-describedby="name"
                      placeholder="YOUR NAME"
                    />
                  </div>
                  <div class="mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="cnt-email"
                      aria-describedby="email"
                      placeholder="EMAIL"
                    />
                  </div>
                  <div>
                    <select class="form-select" aria-label="Type Of Insurance">
                      <option selected>PROPERTY TYPE</option>
                      <option value="1">HOME PROPERTY</option>
                      <option value="2">HEALTH INSURANCE</option>
                      <option value="3">CAR INSURANCE</option>
                      <option value="4">LIFE INSURANCE</option>
                      <option value="5">HOME INSURANCE</option>
                    </select>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary w-100">
                      Start Saving Today
                    </button>
                  </div>
                </form>
                <div class="row">
                  <div class="col-6 my-4">
                    <small class="ratings">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </small>
                    <p class="mt-sm-1">1000+ Reviews</p>
                  </div>
                  <div class="col-6 my-4">
                    <p>
                      Already member?
                      <span><a style="text-decoration: none">SIGN IN</a></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!-- Tab Content for Life ends -->
        </div>
      </div>
      <!-- Carousel Starts -->
      <!-- <div class="col-6"></div> -->
      <!-- Carousel ends -->
    </div>
  </div>
</section>
